{% extends 'base.html.twig' %}

{% block title %}Swim Lesson Homepage{% endblock %}

{% block body %}
    <h1>Something</h1>
    <button id="somebutton" class="btn btn-primary">Click Me!</button>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}