<form method="post" action="{{ path('swim_instructors_delete', {'id': swim_instructor.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ swim_instructor.id) }}">
    <button class="btn">Delete</button>
</form>
