{% extends 'base.html.twig' %}

{% block title %}Edit SwimInstructors{% endblock %}

{% block body %}
    <h1>Edit SwimInstructors</h1>

    {{ include('swim_instructors/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('swim_instructors_index') }}">back to list</a>

    {{ include('swim_instructors/_delete_form.html.twig') }}
{% endblock %}
